<!-- Footer -->
  
    <div id="layoutDefault_footer">
      
        <footer class="footer footer-dark bg-dark pt-5">

            <!-- Footer Links -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand">Petfinder</div>
                        <div class="mb-3">Your ideal petfinder</div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4">Product</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="javascript:void(0);">Landing</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Pages</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Sections</a></li>
                                                                   
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="javascript:void(0);">Documentation</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Changelog</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Theme Customizer</a></li>
                                   
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                <div class="text-uppercase-expanded text-xs mb-4">Includes</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="javascript:void(0);">Utilities</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Components</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Layouts</a></li>
                                
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="javascript:void(0);">Privacy Policy</a></li>
                                    <li class="mb-2"><a href="javascript:void(0);">Terms and Conditions</a></li>
                                    <li><a href="javascript:void(0);">License</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">No Copyright &copy; PetFinder 2020</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="javascript:void(0);">Privacy Policy</a>
                        &middot;
                        <a href="javascript:void(0);">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- Footer -->
