@inject SignInManager<ApplicationUser> signInManager;

    <nav class="navbar navbar-marketing navbar-expand-lg navbar-dark bg-gradient-primary-to-secondary fixed-top mb-10 ">
     
        <a class="navbar" asp-action="Index" asp-controller="Home">

            <img src="~/assets/MainIcon.png" width="50" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav">
                @if (signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>

                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="AdminIndex" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pets
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="PetList" asp-controller="Pet">Pet List</a>
                            <a class="dropdown-item" asp-action="Create" asp-controller="Pet">Register Pet</a>
                        </div>

                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Appointments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="Overview" asp-controller="Appointment">Appointments</a>
                            <a class="dropdown-item" asp-action="Agenda" asp-controller="Appointment">Agenda</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shelter Profile
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="ShelterProfile" asp-controller="Account"> Shelter profile</a>
                        </div>

                    </li>
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search Pets
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="Search" asp-controller="Pet"> Search pets </a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Favorites
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="FavoriteList" asp-controller="Favorite">My Favorite Pets</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Appointments
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-action="MyAppointments" asp-controller="Appointment">My Appointments</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Profile" asp-controller="Account" asp-route-id="@User.Identity.Name">My Settings</a>


                    </li>

                }
            </ul>

            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {

                    <li class="nav-item">
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout: @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

