@model FavoriteListViewModel

@{
    ViewBag.Title = "Favorite List";
}

    <div class="row justify-content-center m-3">
        <div class="col-md-8">
            @foreach (var pet in Model.FavoriteLists)
            {
                <div class="card">
                    <div class="card-header text-center">
                        <h1></h1>
                    </div>

                    <div class="card-body text-center">
                        <img class="card-img-top " style="height: 100px; width: auto;" asp-append-version="true" src="" />

                        <h4>Pet Name: @pet.Pet.Name </h4>
                     
                    </div>

                    <div class="card-footer text-center">
                   
                    </div>
                </div>
            }
        </div>
    </div>