
@{
    ViewBag.Title = "Email verification sent";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
<link href="~/lib/fontawesome-free-5.14.0-web/css/fontawesome.min.css" rel="stylesheet" />
<link href="~/css/Account.css" rel="stylesheet" />


<div class="container pt-next">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <img src="~/assets/8e03bb0cc1e97d09c0943813581edcd6.png" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Confirmation email sent your email address, please validate.</h5>

                    

                </div>
            </div>
        </div>
    </div>
</div>