
@{
    ViewBag.Title = "Password Reset sent";
}

<link href="~/css/Account.css" rel="stylesheet" />


<div class="container pt-next">
    <div class="row">
        <div class="col-md-10 col-md-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <img src="~/assets/8e03bb0cc1e97d09c0943813581edcd6.png" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Reset link has been sent to your email address.</h5>
                    <div class="card-title text-center">

                        <a asp-controller="Account" asp-action="Login" class="btn btn-info">Back</a>

                    </div>
                </div>
             

            </div>
        </div>
    </div>
</div>