@model UserRegisterViewModel
@{
    ViewBag.Title = "User Registration";
}

<link href="~/css/Account.css" rel="stylesheet" />


<div class="container-sm pt-10">

    <div class="col-md-10 col-md-9 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">

            </div>
            <div class="card-body">
                <h5 class="card-title text-center" style="font-size: 2.5rem; font-weight:700">Register</h5>

                <form asp-action="Register" method="post" class="form-signin">

                    <div class="form-label-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="form-label-group col-6">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-label-group col-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" placeholder="LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-label-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-label-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-label-group col-8">
                            <label asp-for="Street"></label>
                            <input asp-for="Street" class="form-control" placeholder="Street" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>

                        <div class="form-label-group col-4">
                            <label asp-for="HouseNumber"></label>
                            <input asp-for="HouseNumber" class="form-control" placeholder="House Number" />
                            <span asp-validation-for="HouseNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-label-group col-6">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" placeholder="City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-label-group col-6">
                            <label asp-for="Zipcode"></label>
                            <input asp-for="Zipcode" class="form-control" placeholder="Zip Code" />
                            <span asp-validation-for="Zipcode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-label-group col-6">
                            <label asp-for="Country"></label>
                            <input asp-for="Country" class="form-control" placeholder="Country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-label-group col-6">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>



                    @if (User.IsInRole("Admin"))
                    {
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" formaction='@Url.Action("AdminRegister","Account")'>Add new User</button>
                        <a asp-action="AdminIndex" asp-controller="Home" class="btn btn-lg btn-secondary btn-block text-uppercase">Back</a>
                    }
                    else
                    {
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>

                    }

                </form>

                @if (!User.IsInRole("Admin"))
                {
                    <div class="card-body pl-0 pr-0">

                        <form method="post" class="form-signin" asp-action="ExternalLogin">
                            <div>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <button class="btn btn-lg btn-google btn-block text-uppercase" name="provider" value="@provider.Name" type="submit"><i class="fab fa-google mr-2"></i>Register with Google</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" name="provider" value="@provider.Name" type="submit"><i class="fab fa-facebook-f mr-2"></i>Register with Facebook</button>
                                    }
                                }
                            </div>
                        </form>
                    </div>

                }

            </div>
        </div>
    </div>
</div>