
@{
    ViewBag.Title = "User Verification";
}

<link href="~/css/Account.css" rel="stylesheet" />


<div class="container pt-10">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Confirmation succesfull Please login here below</h5>

                    <div class="card-title text-center">
                                               
                        <a asp-action="Login" asp-controller="Account" class="btn btn-success">Login</a>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>