@model PetFinder.ViewModels.PetCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.css" rel="stylesheet" />

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post" >
            <input type="hidden" asp-for="ShelterId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetKindId" class="control-label">Pet Kind</label>
                <select asp-for="PetKindId" class="form-control" asp-items="Model.PetKindList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <select asp-for="Gender" class="form-control" asp-items="Model.Genderlist"></select>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Size" class="control-label">Gender</label>
                <select asp-for="Size" class="form-control" asp-items="Model.SizeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" id="TextEditor" class="form-control"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SocialWithDogs"></label>
                <br />
                @foreach (Tristate socialWithDogs in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="SocialWithDogs" type="radio" value="@socialWithDogs" />
                        @socialWithDogs
                    </label>
                }
            </div>

            <div class="form-group">
                <label asp-for="Appartmentfit"></label>
                <br />
                @foreach (Tristate appartmentfit in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="Appartmentfit" type="radio" value="@appartmentfit" />
                        @appartmentfit
                    </label>
                }
            </div>

            <div class="form-group">
                <label asp-for="SocialWithCats"></label>
                <br />
                @foreach (Tristate socialWithCats in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="SocialWithCats" type="radio" value="@socialWithCats" />
                        @socialWithCats
                    </label>
                }
            </div>

            <div class="form-group">
                <label asp-for="KidsFriendly"></label>
                <br />
                @foreach (Tristate kidsFriendly in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="KidsFriendly" type="radio" value="@kidsFriendly" />
                        @kidsFriendly
                    </label>
                }
            </div>



            <div class="form-group">
                <label asp-for="PetColorId" class="control-label">Color</label>
                <select asp-for="PetColorId" class="form-control" asp-items="Model.PetColorList"></select>
            </div>

            <div class="form-group">
                <label asp-for="PetRaceId" class="control-label">Race</label>
                <select asp-for="PetRaceId" class="form-control" asp-items="Model.PetRaceList"></select>
            </div>

            <div class="form-group row">
                <label asp-for="PetPictures" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input multiple asp-for="PetPictures" class="form-control custom-file-input" placeholder="Photo" />
                        <label class="custom-file-label">Choose File ...</label>
                    </div>
                </div>
            </div>

            <div id="preview"></div>
     
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {


    <script>

        $(document).ready(

            function () {
                $('.custom-file-input').on("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    var $preview = $('#preview').empty();
                    if (files.length > 1) {
                        fileLabel.html(files.length + ' files selected');
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }

                    if (this.files) $.each(this.files, readAndPreview);

                    function readAndPreview(i, file) {

                        if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                            return alert(file.name + " is not an image");
                        } // else...

                        var reader = new FileReader();

                        $(reader).on("load", function () {
                            $preview.append($("<img/>", { src: this.result, height: 100 }));

                        });

                        reader.readAsDataURL(file);

                    }

                    $('.custom-file-input').on("change", previewImages);

                });


            });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#TextEditor').trumbowyg({
            imageWidthModalEdit: true
        });</script>

}
