@model PetFinder.ViewModels.AppointmentViewModel.AppointmentCreateViewModel
@{
    ViewData["Title"] = "Create";
}



<div class="modal fade" id="CreateAppointment">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header align-content-center">

                <div><img src="~/assets/Booking.png" /></div>
                <h4 class="modal-title align-self-center"> Book your appointment </h4>
                
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body align-content-center">

                <form asp-action="Create" asp-controller="Appointment">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" id="datepicker" placeholder="DD-MM-YY" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control test" placeholder="HH-MM"/>
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>


                    <input type="hidden" asp-for="AppointmentStatusId" />
                    <input type="hidden" asp-for="PetId" />
                    <input type="hidden" asp-for="ApplicationUserId" />
                    <input type="hidden" asp-for="ShelterId" />

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </form>


            </div>

        </div>

    </div>


</div>







<script>
    $(document).ready(function () {
        $('.test').timepicker({
            timeFormat: 'H:i:s',
            step: '60',
            minTime: '8',
            maxTime: '6:00pm',
            //defaultTime: '8:00am',
            startTime: '8',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });
        $('.test').on('changeTime', function () {
            $('.test2').text($(this).val());
        });
    }

    );
</script>

<script>
    $(function () {
        $("#datepicker").datepicker({
            format: "dd/mm/yyyy",
            //"setDate": new Date(),
            autohide: true,
            "autoclose": true,
            startDate: '-1d'
        });

    }
    );</script>
