@model StatusViewModel

@{
    ViewData["Title"] = "Appointment Calander";
}
<link href="~/fullcalendar/main.css" rel="stylesheet" />
<link href="~/fontawesome-iconpicker/css/fontawesome-iconpicker.css" rel="stylesheet" />

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pt-10">
    <div class="page-header-content pt-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">Manage your appointments</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-lavender">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<div class="container mt-2 pt-5 mb-5" style="background-color:white;">
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center"
         style="min-height: 30px; ">

        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="succesalert"
             style="background-color:palegreen">

            <div class="toast-body">
                Succesfully updated appointment
            </div>
        </div>
    </div>
    <div id='calendar' style="max-width: 1200px; margin: 20px auto;"></div>
</div>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalTitle" class="modal-title text-left"></h2>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span> <span class="sr-only">close</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" button id="btnEdit"> Edit </button>
            </div>
        </div>
    </div>
</div>



<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Appointment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="appointmentid" value="0" />
                    <div class="form-group">
                        <label>Pet Name</label>
                        <input type="text" id="txtSubject" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label>Person</label>
                        <input type="text" id="txtDescription" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group" id="divEndDate">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="AppointmentStatusId" class="label">Status</label>
                        <select asp-for="AppointmentStatusId" class="form-control" asp-items="Model.ListStatuses"
                                id="appointmentstatusId"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var selectedEvent = null;
            var calendar = new FullCalendar.Calendar(calendarEl, {
                contentHeight: 700,
                dayMaxEvents: true,
                eventClick: function (event) {
                    selectedEvent = event;

                    $('#modalTitle').text('Appointment ' + event.event.title);
                    $('#modalBody').html('<b>User: </b>' + event.event.extendedProps.user +
                        '<br>' + '<b>Pet: </b>' + event.event.title +
                        '<br>' + '<b>Appointment status: </b>' + event.event.extendedProps.status
                    );
                    $('#fullCalModal').modal();

                },

                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                titleFormat: {
                    month: 'short',
                    year: 'numeric',
                    day: '2-digit',
                    weekday: 'short',
                    hour12: false,
                    meridiem: false,
                    allDaySlot: false,
                },
                slotLabelFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                    hour12: false,
                    meridiem: false,
                },
                allDayDefault: false,
                allDaySlot: false,

                views: {
                    timelineDay: {
                        slotLabelFormat: ['H:mm'],
                        meridiem: false,
                        hour12: false,
                        allDaySlot: false,
                    },
                    agenda: {
                        timeFormat: 'H(:mm)',
                        meridiem: false,
                        hour12: false,
                        allDaySlot: false,
                    },
                    week: {
                        timeFormat: 'H(:mm)',
                        meridiem: false,
                        hour12: false,
                        allDaySlot: false,
                    },
                    day: {
                        timeFormat: 'H(:mm)',
                        meridiem: false,
                        hour12: false,
                        allDaySlot: false,
                    }

                },
                slotMinTime: "8:00:00",
                slotMaxTime: "20:00:00",
                initialView: 'timeGridWeek',
                initialDate: '2020-08-12',
                //eventColor: 'green',
                events: {
                    url: '/Appointment/GetAppointments',
                    method: 'GET',

                    failure: function () {
                        alert('there was an error while fetching events!');
                    },
                },
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false,
                    hour12: false,
                },



            });
            $('#btnEdit').click(function () {
                var options = {
                    hour12: false
                };
                $('#fullCalModal').modal('hide');
                $('#txtSubject').val(selectedEvent.event.title);
                $('#txtStart').val(selectedEvent.event.start.toLocaleString('en-GB', options));
                $('#txtEnd').val(selectedEvent.event.end.toLocaleString('en-GB', options));
                $('#txtDescription').val(selectedEvent.event.extendedProps.user);
                $('#appointmentid').val(selectedEvent.event.extendedProps.appointmentId);

                $('#myModalSave').modal();
            });

            $('#btnSave').click(function () {

                var data = {
                    AppointmentId: $('#appointmentid').val(),
                    appointmentstatusId: $('#appointmentstatusId').val(),
                }
                SaveEvent(data);
                // call function for submit data to the server
                $('#myModalSave').modal('hide');

            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/appointment/SaveEvent',
                    data: data,
                    success: function (status) {
                        if (status) {
                            console.log('testing');
                            calendar.refetchEvents();
                            $('#myModalSave').modal('hide');
                            $('#succesalert').toast({
                                delay: 3000
                            }).toast('show').toast('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                        console.log('status');
                        console.log(status);
                    }
                })
            }

            calendar.render();
        });
    </script>

}